<div id="container">
  <h1>Edit task</h1>
  <div class="task-content">
    <%= form_for(@task) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :details %>
      <%= f.text_field :details %>
      <%= f.check_box :completed, { class: "back-to-list" }, true, false %>
      <%= f.label :completed %>
      <%= f.submit %>
    <% end %>
  </div>
  <!-- <input type="checkbox" class="task-checkbox"> Completed-->
  <div class="back-to-list">
    <%= link_to "Back to list", tasks_path(@tasks) %>
  </div>
</div>
