<div id="container">
  <h1>New task</h1>
  <div class="task-content">
    <%= form_for(@task) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :details %>
      <%= f.text_field :details %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="back-to-list">
    <%= link_to "Back to list", tasks_path(@tasks) %>
  </div>
</div>
